.outer{
    padding: 10px 0 0;
}

.outer h3, .outer h4{
    color: white;
    font-family: 'Panchang', sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 10px;
}

.outer h4{
    font-size: 18px;
    margin-bottom: 5px;
}

.outer .input{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 30px 0;
}

.outer .name_input{
    margin-bottom: 10px;
}

.outer .input .header{
    position: absolute;

    font-family: 'Metropolis', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    color: white;
    padding: 15px 20px;
    background: black;
    transition: 0.15s ease;
}

.outer .input .text_box{
    width: 100%;
    height: 100%;
    position: absolute;
    width: 100%;
    outline: none;
    padding: 15px 20px;

    font-family: 'Metropolis', sans-serif;
    font-weight: 600;
    font-size: 1.3em;
    border-radius: 10px;

    border: 2px solid white;
    background: transparent;
    color: white;
    transition: all 0.1s ease-in-out;
    z-index: 1111;
}

.outer .input .text_box:focus,
.outer .input .text_box:valid
{
    border: 3px solid white;
}

.outer .input .text_box:focus + .header,
.outer .input .text_box:valid + .header
{
    padding: 10px;
    transform: translate(1px, -21px) scale(0.75);
    z-index:1111;
}

.text_box:-webkit-autofill,
.text_box:-webkit-autofill:hover,
.text_box:-webkit-autofill:focus,
.text_box:-webkit-autofill:active {
   -webkit-transition-delay: 9999s;
   transition-delay: 9999s;
}

.names{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.names .name_tab{
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.error{
    padding: 10px;
    background: #ffefef;
    font-family: 'Metropolis', sans-serif;
    font-weight: 600;
    border: 1px solid #e7195a;
    color: #e7195a;
    border-radius: 4px;
    margin-top: 15px;
}

.btn{
    width: fit-content;
    font-family: 'Panchang', sans-serif;
    font-weight: 200;
    font-size: 10px;
    padding: 8px 10px;
    margin: 10px 0;
    border: 2px solid white;
    color: white;
    background: none;
    font-size: 15px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.btn:hover{
    background-color: #D970E8;
    border-color: #D970E8;
    color: black;
}

.hyperlinkList{
    margin: 15px 0 10px;

}

.hyperlinkList .link{
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px;
    margin: 10px 0;
}

.hyperlinkList .link .urltext{
    font-family: 'Metropolis', sans-serif;
    font-weight: 600;
    font-size: 1.3em;
    line-height: 1.7em;

    flex: 1 1 auto; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.hyperlinkList .link .deleteIcon{
    height: 30px;
    width: 30px;
    flex: 0 0 auto;

    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.hyperlinkList .link .deleteIcon:hover{
    transform: scale(1.15);
}

.hyperlinkList .link .deleteIcon img{
    height: 100%;
}