.container{
    color: white;
    min-height: 100vh;
    width: 98vw;

    padding: 5vw 10vw;

    display: flex;
    flex-wrap: wrap;

    position: relative;
    z-index: 15
}

.outer{
    min-height: 40vh;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    padding: 7px;
}

.back_btn{
    font-family: 'Panchang', sans-serif;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;

    position: absolute;
    top: 6vw ;
    left: 3vw;

}

.footer{
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* hover animation */

.hoverUnderline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #D970E8;
    transform-origin: bottom left;
    transition: transform 0.15s ease-out;
}

.hoverUnderline:hover{
    color: #D970E8;
}
  
.hoverUnderline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media screen and (max-width: 750px) {
    .container{
        width: 100vw;
        padding: 15vh 10vw;
    }

    .back_btn{
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .container{
        padding: 15vh 2vw;
    }
}